<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arivu</title>
    <link rel="stylesheet" href="../public/style_about.css">
    <link rel="shortcut icon" href="../public/logo.png" type="image/x-icon">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img class="logo-img" src="../public/logo.png">
            <b>
                <h1 class="arivu-text">Arivu</h1>
            </b>
        </div>

        <img class="logo-img" src="../public/clic.png">
    </div>
</body>  