<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arivu</title>
    <link rel="stylesheet" href="../public/style_about.css" />
    <link rel="shortcut icon" href="../public/logo.webp" type="image/x-icon" />

    

    <meta name="description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">

    <meta name="keywords"
        content="student projects, coding projects, project-based learning, student initiative, Arivu">

    <meta name="author" content="Arivu">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.arivu.me/">
    <meta property="og:title" content="Arivu">
    <meta property="og:description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">
    <meta property="og:image" content="https://i.imgur.com/h46QeaT.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.arivu.me/">
    <meta property="twitter:title" content="Arivu - Student Project Initiative">
    <meta property="twitter:description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">
    <meta property="twitter:image" content="https://i.imgur.com/h46QeaT.jpg">
  </head>

  <body>
    <div class="header">
      <a href="/index.html">

        <div class="logo">
          <img class="logo-img" src="../public/logo.webp" />
          <b>
            <h1 class="arivu-text">Arivu</h1>
          </b>
        </div>
        
      </a>
      <img class="logo-img" src="../public/clic.png" />
    </div>
    <div class="about">
      <div>
        <h1 class="title">About Us</h1>
        <p class="desc">
          Arivu 2023 was brought to you by students of 2025 batch CSE B
        </p>
      </div>
      <div class="about-panel">
        <div class="profile">
          <h1>Susana Ann Chanthiam</h1>
          <p>Lead Designer</p>
        </div>
        <div class="profile">
          
          <h1>Ajay Santhosh</h1>
          <p>Event Coordinator</p>
        </div>

        <div class="profile">
          
          <h1>Sarah Ameena Maryam</h1>
          <p>Content Lead</p>
        </div>
        <div class="profile">
          
          <h1>Jibina Babu</h1>
          <p>Website Developer</p>
        </div>
        <div class="profile">
          
          <h1>Lakshmi Rajesh</h1>
          <p>Website Developer</p>
        </div>
        <div class="profile">
          <h1>Nanditha M</h1>
          <p>Lead Designer</p>
        </div>
        <div class="spl">
        <h1><u>Special Mentions</u></h1>
          <div class="">
            <h1>Advaith Naryanan</h1>
            <p>Event Coordinator</p>
          </div>
          <div class="">
            <h1>Amal Babu</h1>
            <p>Designer</p>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>
