<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arivu</title>
    <link rel="stylesheet" href="../public/style_about.css" />
    <link rel="shortcut icon" href="../public/logo.webp" type="image/x-icon" />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <img class="logo-img" src="../public/logo.webp" />
        <b>
          <h1 class="arivu-text">Arivu</h1>
        </b>
      </div>

      <img class="logo-img" src="../public/clic.png" />
    </div>
    <div class="about">
      <div>
        <h1 class="title">About Us</h1>
        <p class="desc">
          Arivu was brought to you by students of 2025 batch CSE B
        </p>
      </div>
      <div class="about-panel">
        <div class="profile">
          <div class="dp"></div>
          <h1>Susana Ann Chanthiam</h1>
          <p>Lead Designer</p>
        </div>
        <div class="profile">
          <div class="dp"></div>
          <h1>Ajay Santhosh</h1>
          <p>Event Coordinator</p>
        </div>

        <div class="profile">
          <div class="dp"></div>
          <h1>Sarah Ameena Maryam</h1>
          <p>Conent Lead</p>
        </div>
        <div class="profile">
          <div class="dp"></div>
          <h1>Jibina Babu</h1>
          <p>Website Developer</p>
        </div>
        <div class="profile">
          <div class="dp"></div>
          <h1>Lakshmi Rajesh</h1>
          <p>Website Developer</p>
        </div>
        <div class="profile">
          <div class="dp"></div>
          <h1>Nanditha M</h1>
          <p>Lead Designer</p>
        </div>
        <div class="spl">
        <h1><u>Special Mentions</u></h1>
          <div class="">
            <h1>Advaith Naryanan</h1>
            <p>Event Coordinator</p>
          </div>
          <div class="">
            <h1>Amal Babu</h1>
            <p>Designer</p>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>
