<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="shortcut icon" href="../public/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="/public/doc.css">

    

    <meta name="description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">

    <meta name="keywords"
        content="student projects, coding projects, project-based learning, student initiative, Arivu">

    <meta name="author" content="Arivu">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.arivu.me/">
    <meta property="og:title" content="Arivu">
    <meta property="og:description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">
    <meta property="og:image" content="https://i.imgur.com/h46QeaT.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.arivu.me/">
    <meta property="twitter:title" content="Arivu - Student Project Initiative">
    <meta property="twitter:description"
        content="Arivu is a student-led initiative that encourages students to get started on projects of their interest and showcase their work.">
    <meta property="twitter:image" content="https://i.imgur.com/h46QeaT.jpg">
</head>

<body>
    <div class="header">
        <a href="/index.html">

            <div class="logo">
                <img class="logo-img" src="/public/logo.webp">
                <b>
                    <h1 class="arivu-text">Arivu</h1>
                </b>
            </div>
        </a>

        <img class="logo-img" src="/public/clic.png">
    </div>
    <div class="center">
        <div class="text">

            <h1>
                ARIVU
            </h1>

            <h2>OVERVIEW</h2>
            Arivu is a student-led initiative designed to encourage students to get started with their projects or join
            in
            on
            other incredible projects.

            <h2>GOALS</h2>
            Offer students the chance to address their inquiries regarding any topic of their interest. Essentially,
            eliminates
            all barriers that hinder students from sharing their ideas with the world, and facilitates their learning
            through a
            project-based approach.
            The project allows students to exercise their creativity and explore the vast resources of the internet,
            allowing
            them to discover new and interesting technologies that they are passionate about learning.
            <h2>SPECIFICATIONS</h2>
            Each student is provided with the basic information on where to get started, Afterwards, the student is left
            to
            his
            creativity and interest in the project. An aspect that motivates the participant is that once the project is
            complete they can flaunt it in their resume and can act as a project they did on their own, and motivate
            them to
            do
            many more and also help them acclimatize themselves with doing projects.
            <h2>PROCEDURE</h2>
            The sessions aim to provide a platform for students who are interested in any of the topics provided by the
            mentors
            as well as engage with mentors. Its purpose is to allow students to seek clarification on doubts they might
            have, or
            create interest in something new they want to explore.
            Participants who are intrigued by the prospect can also undertake a project of their choosing. They will be
            assigned
            deadlines and dates for project status checks. All projects that have been completed will be featured on a
            website
            for one year. Throughout this period, participants are encouraged to look up the answers themselves or in
            case
            of
            despair reach out to resource persons for doubt clarification.
            The project component accommodates a maximum of 25 projects. To secure a spot in the project as a mentor,
            .It's
            important to note that the open session is open to all (as you would imagine), free of charge and welcomes
            any
            individuals who express interest. Those eager to partake in the project are invited to submit a project
            abstract,
            expressing their interest and aspirations.
            <h2>OUTCOME</h2>
            Through an evaluation of the project abstracts, a curated collection of projects will be chosen,
            prioritizing
            their
            feasibility. Once selected the students will be allotted project slots to work on their projects, or
            collectively as
            a group. These projects will be monitored and their status will be checked. On the successful completion of
            the
            project, these projects will be on display for the entire internet for a whole year. The deadlines for the
            projects
            will be allotted according to the complexity of the projects.


        </div>
    </div>

</body>

</html>
