@font-face {
  font-family: 'Jetbrains';
  src: url(jetbrains.ttf);
}
a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
}

h2{
  margin: .75em 0;
}
body {
  font-family: 'Jetbrains';
  background-color: #fff6d6;
  
}
.arivu-text {
  font: jetbrains;
  font-size: x-large;
  color: #003A3A;
}


.text{
  width: 60%;
  display: block;
}

@media (max-width: 800px) {
  .text{
    width: 80%;
  }
  
}
.center{
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center; 
}


.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 60px);
  /* position: fixed; */
  padding: 30px;
  top: 0;
  background: #fff6d6;
}

.logo {
  gap: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

img {
  height: 50px;
}

.logo-img{
  height: 50px;
}
