font-face {
  font-family: 'Jetbrains';
  src: url(jetbrains.ttf);
}

* {
  margin: 0px;
}

body::-webkit-scrollbar{
  display: none;
}


body {
  font-family: 'Jetbrains';
  background-color: #fff6d6;
}
.arivu-text {
  font: jetbrains;
  font-size: x-large;
  color: #003A3A;
}

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 60px);
  position: fixed;
  padding: 30px;
  top: 0;
  background: #fff6d6;
}

.logo {
  gap: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

img {
  height: 50px;
}

.logo-img{
  height: 50px;
}