@font-face {
  font-family: 'Jetbrains';
  src: url(jetbrains.ttf);
}
*{
  margin: 0px;
}
body{
  font-family: 'Jetbrains';
  background-color: #fff6d6;
  
}
h1{
  font: jetbrains;
  color: #003A3A;
  margin-left: 15px;
}
.header{
 
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  margin: 10px;


}
.logo{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  
}
img{
 
  height: 50px;
}
