@font-face {
  font-family: 'Jetbrains';
  src: url(jetbrains.ttf);
}

* {
  margin: 0px;
}

body::-webkit-scrollbar{
  display: none;
}


body {
  font-family: 'Jetbrains';
  background-color: #fff6d6;
}
.arivu-text {
  font: jetbrains;
  font-size: x-large;
  color: #003A3A;
}

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 60px);
  /* position: fixed; */
  padding: 30px;
  top: 0;
  background: #fff6d6;
}

.logo {
  gap: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
img {
  height: 50px;
}

.logo-img{
  height: 50px;
}

.about {
  height: 100vh;
  background-color: #015252;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  align-items: startr;
  gap: 10vh;
}

.about-panel{
  gap: 6vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spl{
  color: #fff6d6;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  align-items: start;
  gap: 40px;
}

.profile {
  width: 300px;
  /* height: 150px;   */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.profile h1{
  font-size: 25px;
  color: #fff6d6;
  text-align: center;
  padding: 10px;
}
.profile p{
  font-size: 15px;
  color: #fff6d6;
}

.title {
  color: #fff6d6;
  font-size: 55px;
  padding-left: 42px;
}


@media (max-width: 640px){
  .title{
    font-size: 50px;
    padding-left: 50px;
  }
  .projects-panel{
    flex-direction: column;
    padding-left: 50px;
  }
  .about {
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.desc{
  color: antiquewhite; padding-left: 50px;padding-right: 50px;padding-top: 20px
}
.dp{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    flex-shrink: 0;
    
    
}